Repository woowa-techcamp-2021/cashbook-6, pull requests merged in 2021-08, with the labels that each got.

#3 프론트엔드 구조 설계
  .gitignore
  client/.babelrc
  client/package-lock.json
  client/package.json
  client/src/index.html
  client/src/index.ts
  client/src/lib/applyDiff.ts
  client/src/lib/dom.ts
  client/src/lib/registry.ts
  client/src/lib/render.ts
  client/src/lib/routes.ts
  client/src/lib/state.ts
  client/tsconfig.json
Labels: architecture, frontend

#8 atom > base
  client/src/commons/type/common.ts
  client/src/components/atoms/Base/index.ts
Labels: atom, frontend

#10 ✨ Atom > Text
  client/src/components/atoms/Text/Heading/index.ts
  client/src/components/atoms/Text/Label/index.ts
  client/src/components/atoms/Text/Paragraph/index.ts
  client/src/components/atoms/Text/Span/index.ts
  client/src/components/atoms/Text/index.ts
  client/src/components/atoms/Text/type.ts
Labels: atom, frontend

#12 ✨ Atom > Div
  client/src/components/atoms/Div/index.ts
Labels: atom, frontend

#14 ✨ Atom > Input
  client/src/components/atoms/Input/index.ts
  client/src/components/atoms/Input/style.scss
  client/src/components/atoms/Input/type.ts
Labels: atom, frontend

#21 ✨ Atom > Link
  client/src/components/atoms/Link/index.ts
  client/src/components/atoms/Link/style.scss
  client/src/components/atoms/Link/type.ts
Labels: atom, frontend

#26 ✨ Atom > Section
  client/src/components/atoms/Section/index.ts
Labels: atom, frontend

#30 ✨ Molecule > Text
  client/src/components/molecules/Text/Body/index.ts
  client/src/components/molecules/Text/Bold/index.ts
  client/src/components/molecules/Text/Display/index.ts
  client/src/components/molecules/Text/index.ts
  client/src/components/molecules/Text/style.scss
  client/src/components/molecules/Text/type.ts
Labels: frontend, molecule

#32 ✨ Molecule > IconLink
  client/src/components/molecules/Link/Icon/index.ts
  client/src/components/molecules/Link/type.ts
Labels: frontend, molecule

#36 ✨ Molecule > SaveButton
  client/src/components/molecules/Button/Save/index.ts
  client/src/components/molecules/Button/Save/style.scss
  client/src/components/molecules/Button/Save/type.ts
Labels: frontend, molecule

#38 ✨ Molecule > LabelInput
  client/src/components/molecules/Input/Label/index.ts
  client/src/components/molecules/Input/Label/style.scss
  client/src/components/molecules/Input/Label/type.ts
Labels: frontend, molecule

#16 ✨ Atom > Button
  client/src/components/atoms/Button/index.ts
  client/src/components/atoms/Button/style.scss
Labels: atom, frontend

#18 🌱 백엔드 베이스 코드 작성 (#1)
  server/package-lock.json
  server/package.json
  server/src/app.js
  server/src/config/index.js
  server/src/routes/index.js
  server/src/server.js
Labels: architecture, backend

#56 💄 Molecule > CategoryTag
  client/src/components/molecules/Text/CategoryTag/index.ts
  client/src/components/molecules/Text/style.scss
  client/src/components/molecules/Text/type.ts
Labels: frontend, molecule

#61 💄 Atom > Ul, Li
  client/src/components/atoms/Li/index.ts
  client/src/components/atoms/Li/style.scss
  client/src/components/atoms/Ul/index.ts
  client/src/components/atoms/Ul/style.scss
Labels: atom, frontend

#63 💄 Molecule > Container
  client/src/components/molecules/Container/index.ts
  client/src/components/molecules/Container/style.scss
Labels: frontend, molecule

#58 oauth 로그인, 회원가입 기능 구현
  server/package-lock.json
  server/package.json
  server/src/app.js
  server/src/config/index.js
  server/src/controllers/usersController.js
  server/src/repositories/usersRepository.js
  server/src/routes/usersRouter.js
  server/src/utils/githubOauth.js
Labels: backend, enhancement

#64 코드 정리 및 수정
  client/src/apis/history/dto.ts
  client/src/commons/styles/size.scss
  client/src/components/molecules/Text/Body/index.ts
  client/src/components/molecules/Text/CategoryTag/index.ts
  client/src/components/molecules/Text/style.scss
  client/src/components/molecules/Text/type.ts
Labels: chore, frontend

#65 Molecule > HistoryItem, HistoryList
  client/src/apis/history/dto.ts
  client/src/components/molecules/Item/LargeHistoryItem/index.ts
  client/src/components/molecules/Item/SmallHistoryItem/index.ts
  client/src/components/molecules/Item/style.scss
  client/src/components/molecules/Item/type.ts
  client/src/components/molecules/List/LargeHistoryList/index.ts
  client/src/components/molecules/List/SmallHistoryList/index.ts
  client/src/components/molecules/List/style.scss
  client/src/components/molecules/List/type.ts
  client/src/components/molecules/Text/type.ts
  client/src/utils/date.ts
  client/src/utils/number.ts
Labels: frontend, molecule

#69 🏷️ Type > Event
  client/src/types/Event/index.d.ts
Labels: frontend, type

#67 Molecule > CheckBoxInput
  client/src/components/atoms/Base/index.ts
  client/src/components/atoms/Label/index.ts
  client/src/components/atoms/Label/type.ts
  client/src/components/atoms/Text/Label/index.ts
  client/src/components/atoms/Text/index.ts
  client/src/components/atoms/Text/type.ts
  client/src/components/molecules/Input/CheckBox/index.ts
  client/src/components/molecules/Input/CheckBox/style.scss
  client/src/components/molecules/Input/Label/index.ts
  client/src/components/molecules/Input/Label/type.ts
Labels: frontend, molecule

#72 🚑 registry 등록 변경
  client/src/index.ts
Labels: frontend, hotfix

#74 백엔드 api 작업 #59
  server/ormconfig.js
  server/src/controllers/cashbookHistoriesController.js
  server/src/controllers/categoriesController.js
  server/src/controllers/payMethodsController.js
  server/src/models/CashbookHistories/model.js
  server/src/models/CashbookHistories/schema.js
  server/src/models/Categories/model.js
  server/src/models/Categories/schema.js
  server/src/models/PayMethods/model.js
  server/src/models/PayMethods/schema.js
  server/src/repositories/cashbookHistoriesRepository.js
  server/src/repositories/categoriesRepository.js
  server/src/repositories/payMethodsRepository.js
  server/src/routes/cashbookHistoriesRouter.js
  server/src/routes/categoriesRouter.js
  server/src/routes/index.js
  server/src/routes/payMethodRouter.js
Labels: backend, enhancement

#76 Dropdown
  client/public/svg/close.svg
  client/public/svg/minus.svg
  client/public/svg/short-down-arrow.svg
  client/src/components/atoms/Div/index.ts
  client/src/components/atoms/Icon/close.ts
  client/src/components/atoms/Icon/minus.ts
  client/src/components/atoms/Icon/plus.ts
  client/src/components/atoms/Icon/short-down-arrow.ts
  client/src/components/molecules/Button/Icon/index.ts
  client/src/components/molecules/Button/Icon/style.scss
  client/src/components/molecules/Button/Icon/type.ts
  client/src/components/molecules/Button/Save/index.ts
  client/src/components/molecules/Button/Save/type.ts
  client/src/components/molecules/Button/type.ts
  client/src/components/molecules/DropDown/Option/index.ts
  client/src/components/molecules/DropDown/Option/style.scss
  client/src/components/molecules/DropDown/Select/index.ts
  client/src/components/molecules/DropDown/Select/style.scss
  client/src/components/molecules/DropDown/type.ts
Labels: frontend, molecule

#77 Alert
  client/src/commons/styles/colors.scss
  client/src/commons/styles/index.scss
  client/src/components/atoms/BackDrop/index.ts
  client/src/components/atoms/BackDrop/style.scss
  client/src/components/atoms/Button/style.scss
  client/src/components/molecules/Button/Text/index.ts
  client/src/components/molecules/Button/Text/style.scss
  client/src/components/molecules/Input/CheckBox/index.ts
  client/src/components/molecules/Input/Label/index.ts
  client/src/components/molecules/Input/Label/type.ts
  client/src/components/molecules/Input/Text/index.ts
  client/src/components/molecules/Input/Text/style.scss
  client/src/components/molecules/Input/type.ts
  client/src/components/molecules/Portal/Alert/index.ts
  client/src/components/molecules/Portal/Alert/style.scss
  client/src/components/molecules/Portal/type.ts
  client/src/components/molecules/Text/style.scss
Labels: frontend, molecule

#78 Chore
  client/src/commons/type/common.ts
  client/src/components/molecules/Container/index.ts
  client/src/components/molecules/Container/style.scss
  client/tsconfig.json
Labels: chore, frontend

#79 Month History
  client/src/apis/history/dto.ts
  client/src/commons/styles/index.scss
  client/src/commons/styles/z-index.scss
  client/src/components/molecules/Container/style.scss
  client/src/components/molecules/Input/CheckBox/style.scss
  client/src/components/molecules/List/LargeHistoryList/index.ts
  client/src/components/molecules/List/type.ts
  client/src/components/organisms/Header/style.scss
  client/src/components/organisms/MonthHistory/index.ts
  client/src/components/organisms/MonthHistory/style.scss
  client/src/components/organisms/MonthHistory/type.ts
Labels: frontend, organism

#80 Register Bar 생성
  client/src/components/molecules/DropDown/Select/index.ts
  client/src/components/molecules/DropDown/type.ts
  client/src/components/organisms/RegisterBar/AmountInput/index.ts
  client/src/components/organisms/RegisterBar/CalendarInput/index.ts
  client/src/components/organisms/RegisterBar/CategoryInput/index.ts
  client/src/components/organisms/RegisterBar/DescriptionInput/index.ts
  client/src/components/organisms/RegisterBar/PaymentInput/index.ts
  client/src/components/organisms/RegisterBar/index.ts
  client/src/components/organisms/RegisterBar/style.scss
  client/src/components/organisms/RegisterBar/type.ts
Labels: frontend, organism

#81 Chore 0805-1
  client/config/env.ts
  client/src/apis/BaseApi.ts
  client/src/apis/common/dto.ts
  client/src/apis/user/dto.ts
  client/src/apis/user/index.ts
  client/src/commons/type/html.ts
  client/src/components/atoms/Base/index.ts
  client/src/components/atoms/Label/index.ts
  client/src/components/molecules/Container/style.scss
  client/src/components/organisms/RegisterBar/index.ts
  client/src/components/organisms/RegisterBar/type.ts
  client/src/components/pages/Calendar/index.ts
  client/src/components/pages/Chart/index.ts
  client/src/components/pages/History/index.ts
  client/src/components/pages/Layout/index.ts
  client/src/components/pages/Layout/style.scss
  client/src/components/pages/type.ts
  client/src/components/templates/History/index.ts
  client/src/components/templates/History/style.scss
  client/src/components/templates/type.ts
  client/src/index.ts
  client/src/utils/date.ts
Labels: architecture, chore, frontend, page, template

#83 History Page
  client/package.json
  client/src/apis/BaseApi.ts
  client/src/apis/history/api.ts
  client/src/apis/history/dto.ts
  client/src/apis/history/param.ts
  client/src/apis/history/remotes.ts
  client/src/components/molecules/Input/CheckBox/style.scss
  client/src/components/molecules/Item/LargeHistoryItem/index.ts
  client/src/components/molecules/Item/SmallHistoryItem/index.ts
  client/src/components/molecules/Item/type.ts
  client/src/components/molecules/List/LargeHistoryList/index.ts
  client/src/components/molecules/List/type.ts
  client/src/components/molecules/Text/type.ts
  client/src/components/organisms/MonthHistory/Summary/index.ts
  client/src/components/organisms/MonthHistory/index.ts
  client/src/components/organisms/MonthHistory/type.ts
  client/src/components/organisms/RegisterBar/index.ts
  client/src/components/organisms/RegisterBar/type.ts
  client/src/components/pages/Calendar/index.ts
  client/src/components/pages/Chart/index.ts
  client/src/components/pages/History/dummy.ts
  client/src/components/pages/History/index.ts
  client/src/components/pages/History/type.ts
  client/src/components/pages/Layout/index.ts
  client/src/components/pages/Layout/type.ts
  client/src/components/pages/type.ts
  client/src/components/templates/History/index.ts
  client/src/lib/render.ts
  client/src/lib/routes.ts
  client/src/models/Category.ts
  client/src/models/DayHistory.ts
  client/src/models/History.ts
  client/src/models/Payment.ts
  client/tsconfig.json
Labels: frontend, page, template
